body {
  background-color: #2c343c;
}

body > .ui.container {
  margin-top: 2em;
}
iframe {
  border: none;
  width: calc(100% + 2em);
  margin: 0em -1em;
  height: 300px;
}
iframe html {
  overflow: hidden;
}
iframe body {
  padding: 0em;
}

.ui.container > h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  color:lavender;
  text-shadow:2px 2px #acacac;
}
.ui.container > h2.dividing.header {
  font-size: 2em;
  font-weight: normal;
  margin: 4em 0em 3em;
}

.ui.grid {
  padding-top: 2em;
}

.ui.grid>.ui.segment.column {
  padding-top: 1em;
  padding-bottom: 1em;
}

/*.landing-image {
    background-image: url('/static/b.png');
    background-size: 100% 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
}*/